@import "tailwindcss";

@plugin "tailwindcss-animate";
@variant dark (&:where(.dark, .dark *));

:root {
  --background: #FDFBF7;
  --foreground: #171717;
}

.dark {
  --background: #0f172a; /* Slate 900 for dark mode background */
  --foreground: #f8fafc; /* Slate 50 for text */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Hide Scrollbar Global */
html {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}
html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

